body {
  background-color:black;

}

h1 {
  color:silver;
  text-align: center;
  font-family: sans-serif;
}

h3 {
  color: #0088cc;
}

p {
  color: white;
  font-family: sans-serif;
}

.tog {
 display: none;
}

.fad {
 display: none;
}

.sld {
  display: none;
}

.nerd {
 display: none;
}

.hand {
 display: none;
}

.old {
  display: none;
}
